<header ng-controller="HeaderController as header">
  <h1>Greetings {{header.current_user.email}}, you are a glorious reprobate!</h1>

</header>
<main ng-controller="TransgressionsController as transgressions">
  <h2>This is How You've Pleased Me: Your Current Transgressions</h2>
  <ul>
    <li ng-repeat="transgression in transgressions.current_user_transgressions">
      Sin Type: {{transgression.sin_type}}
      <br/>
      Description: {{transgression.description}}
    </li>
  </ul>

  <h2>The Flesh is Weak: Admit Your Transgressions</h2>
  <form ng-submit="transgressions.createTransgression()">
    <input type="text" placeholder="Sin Type"/>
    <input type="text" placeholder="How Have You Pleased Me?"/>
    <input type="submit" value="Feed Me Your Regrets" />
  </form>
</main>
