<header ng-controller="HeaderController as header">
  <h1>The Sins We Commit</h1>
  <p>
    Welcome {{header.current_user.email}}
  <p>
  <nav>
    <h2>Navigation</h2>
  </nav>
</header>
<main>
  <section ng-controller="TransgressionsController as transgressionsCtrl">
    <h2>Your Beautiful Transgressions</h2>
    <ul>
      <li ng-repeat="transgression in transgressionsCtrl.transgressions">

      </li>
    </ul>
  </section>
</main>
