<header ng-controller="HeaderController as header">
  <h1>The Sins We Commit</h1>
  <p>
    Welcome {{header.current_user.email}}
  <p>
  <nav>
    <h2>Navigation</h2>
  </nav>
</header>
<main>
  <section ng-controller="TransgressionsController as transgressionsCtrl">
    <h2>Your Beautiful Transgressions</h2>
    <ul>
      <li ng-repeat="transgression in transgressionsCtrl.transgressions">
        Sin Type: {{transgression.sin_type}}
        <br/>
        Description: {{transgression.description}}
        <br/>
        Created: {{transgression.authored_at}}
      </li>
    </ul>
    <h2>The Flesh is Weak</h2>
    <form ng-submit="transgressionsCtrl.createTransgression()">
      I feast upon your weakness:
      <select ng-model="transgressionsCtrl.newTransgressionSinType">
        <option
          value="{{SIN_TYPE}}"
          ng-repeat="SIN_TYPE in transgressionsCtrl.SIN_TYPES track by $index">
          {{SIN_TYPE}}
        </option>
      </select>
      <br/>
      <textarea
        ng-model="transgressionsCtrl.newTransgressionDescription"
        placeholder="Yes! Now describe it to me, mortal"></textarea>
      <br/>
      <input
        type="Submit"
        value="Feed Me!" />
    </form>
  </section>
</main>
