<!DOCTYPE html>
<html>
<head>
  <title>TheSinsWeCommit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" charset="utf-8"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
